.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #4E5166;
    color: white;
}

.container {
    display: flex;
    padding: 10px;
    margin-left: 20px;
}

.navbar-nav {
    display: flex;
    margin: 20px;
}

.nav-item {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: white;
}